
* {
    font-size: 3em;
}

body {
    background-color: rgb(187, 173, 159);
  }

table {
    border: 1px solid rgb(82, 49, 49);
    border-collapse: collapse; 
}
th, td {
    border: 1px dashed rgb(76, 61, 65);
    border-collapse: collapse; 
}
       