<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Enter Furniture Information</h1>
        <form action="furniture.html" method="post">
        <input type="text" name="ItemID" placeholder="Enter Item ID">
        <input type="text" name="Type" placeholder="Enter Furniture Type">
        <input type="text" name="Dimensions" placeholder="Enter Dimensions">
        <input type="text" name="Weight" placeholder="Enter Weight">
        <input type="submit">
        </form>
        
    </body>
</html>