<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Where to add transaction information for an item">
        <meta name="author" content="Sydney">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Transactions</title>
        <style>
            body {
                font-size: 1.5em;
            }
            table {
                border: 1.5px solid rgb(54, 45, 28);
            }
            th, td {
                border: 1.5px solid rgb(254, 255, 244);
                border-collapse: collapse; 
            }

            .wide{
                width: 12.1em;
            }
       
        </style>
    </head>
    <body style="background-color: rgb(187, 173, 159)">
        <nav>
            <a href="../">Back to Furniture</a>
            <a href="../all_transact">Back to Transactions</a>
        </nav>
        <p>Existing Invoices:</p>
        <table>
            <tr>
                <th>Invoice ID</th>
                <th>DateTime</th>
            </tr>
            {% for row in myresult[0] %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
            {% endfor %}
        </table>
        <p>Existing Furniture:</p>
        <table float="right">
            <tr>
                <th>Item ID</th>
                <th>Furniture Type</th>
            </tr>
            {% for row in myresult[1] %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
            {% endfor %}
        </table>
        <form action="/add_t" method="post">
            <p>Add Transaction</p>
            <input type="number" name="itemID" class ="wide" placeholder="Enter Item ID" min="1" max="{{myresult[2][0][0]}}" required><br/>
            <input type="number" name="invoiceID" placeholder="Enter Invoice ID" min="1" required><br/>
            <input type="number" name="quant" placeholder="Enter Quantity" required><br/>
            <input type="number" name="price" placeholder="Enter Price" step=".01" required><br/>
            <button type="submit">Add transaction</button>
        </form>

    </body>
    </html>