<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Transaction table">
        <meta name="author" content="Sydney">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furniture Table</title>
        <style>
            body {
                font-size: 1.5em;
            }
            table {
                border: 1.5px solid rgb(54, 45, 28);
            }
            th, td {
                border: 1.5px solid rgb(254, 255, 244);
                border-collapse: collapse; 
            }
       
        </style>
    </head>
    <body style="background-color: rgb(187, 173, 159);">
        <div>
            <h1>Details</h1>
            <table>
                <tr>
                    <th>Item ID</th>
                    <th>Colors</th>
                    <th>Materials</th>
                    <th>Remove</th>
                </tr>
                
                {% for row in myresult %}
                <tr>

                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>
                        <nav>
                            <a href="/edit-details.html?itemID={{row[0]}}">Edit Details</a>
                        </nav>
                    </td>
                </tr>
                {% endfor%} 
            </table>
            
             
        </div>
        <div>
            <nav>
                <a href="../">Back to Furniture</a>
            </nav>
        </div>
        <div>
            
        </div>
        </table>
        
    </body>
</html>